<h1>New Premise</h1>
<!-- 
<input type="text" name="fname" id="populate-bbl">
<a href="#" class="populate">populate from existing premise</a> -->
<%= render 'form', premise: @premise %>

<%= link_to 'Back', premises_path %>
