<h1>Editing Premise</h1>

<%= link_to 'Show', @premise %> |
<%= link_to 'Back', premises_path %>
<%= link_to 'Create from this base', new_premise_path(@premise.id) %>

<%= render 'form', premise: @premise %>
