/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

th {
  text-align: left;
}

.logo {
  display: block;
  text-align: center;
}

.logo:hover {
  background: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-left: 1px solid rgb(235, 235, 238);
  border-right: 1px solid rgb(235, 235, 238);
}
thead {
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid rgb(235, 235, 238);;
  border-right: 1px solid rgb(235, 235, 238);;
}

body tr:nth-child(2n + 1) {
  background: rgb(246, 247, 249);
}

.filters {
  margin-top: 10px;
  padding: 20px;
  background: rgb(246, 247, 249);
}

.filters select,
.filters input {
  height: 50px;
  padding-left: 15px;
  font-size: 14px;
  width: calc(33.3333% - 20px);
  margin: 10px 10px 0px 10px;
  border: 1px solid black;
  float: left;
  background: white;
}

.filters select {
  border-radius: inherit;
  background: none;
  background-color: white;
}

button {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  border-radius: inherit;
  background: none;
  background-color: white;
  border: 1px solid black;
  background-color: white;
  height: 50px;
  width: 20%;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all .25s;
}

button:hover {
  background: black;
  color: white;
}

.button-set {
  text-align: center;
  margin-top: 20px;
}